div {
    text-align: center;
    margin-top: 50px;
  }
  
  img {
    cursor: pointer;
    max-width: 30%;
    height: auto;
    margin: 20px 0;
  }
  
  button {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  